# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class

# ------------------------------
# Django
# ------------------------------
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# Ignore migrations (except __init__.py)
**/migrations/*
!**/migrations/__init__.py

# Ignore media & static collected files
/media/
/staticfiles/
/static/

# ------------------------------
# Environment variables
# ------------------------------
.env
.env.*
*.env

# ------------------------------
# Virtual Environment
# ------------------------------
venv/
env/
ENV/
.venv/

# ------------------------------
# IDE files
# ------------------------------
.vscode/
.idea/

# ------------------------------
# OS files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Coverage / Testing
# ------------------------------
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# ------------------------------
# Node (if using React / frontend)
# ------------------------------
node_modules/
build/
dist/

# ------------------------------
# Celery / Cache
# ------------------------------
celerybeat-schedule
*.pid